@mixin flex-props($justify: space-between, $align: center, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin container {
    width: 1200px;
    margin: 0 auto;
}