.container {
    @extend %container;
    // @include container;
    background-color: $secondary-color;
    height: 100px;

    @include flex-props(space-between, center, row);

    & > h1 {
        color: $primary-color;
        font-size: $main-title-size;
    }
}

.container-2 {
    @extend %container;
    // @include container;
    background-color: yellow;
    height: 100px;
    margin-top: 10px;
    margin-right: 10;

    @include flex-props();


    & > h1 {
        color: $primary-color;
        font-size: $main-title-size;
    }
}

